html {
  font-family:  Helvetica,Arial,Verdana,sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
  direction=ltr;
}
input, textarea, select, .uneditable-input {
    border: 1px solid #CCCCCC;
    color: #808080;
    display: inline-block;
    padding: 3px;
    width: 150px;
}
input, select, textarea {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
}
select, input, textarea {
    font-family: Arial,"Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 99%;
}
 .links a:link, .links a:visited {
  text-decoration: none;
}
 .links a,  .links a:visited {
	text-decoration: none;
	color: rgb(0, 102, 153);
	margin:5px;
	font-weight: 700;
 }
 .cancel, .cancel:visited{
  text-decoration: none;
  color: rgb(0, 102, 153);
  cursor: pointer;
  margin:5px;
}
 .cancel:hover{ 
	text-decoration: underline;
}

.show_more, .show_less, .show_more:visited, .show_less:visited {
  text-decoration: none;
  color: rgb(0, 136, 204);
  cursor: pointer;
  margin:5px;
}
.show_more:hover, .show_less:hover{ 
	text-decoration: underline;
}
.show_less{
	display: none;
}
.content{
	width: 850px;
	height: auto;
	margin: 0 auto;
	
}
.center{
	width:inherit;
	float: left;
	margin: 92px 15px 0 15px; 
	height: 700px;
}

.right-bar{
	width: 235px;
	margin-top: 117px;
	float: left;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	margin-bottom:20px;
}
.about{
	position: fixed;
	right: 20px;
	color: #ffffff;
	margin-bottom: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #999999;
	border: 1px solid #cccccc;
	border-radius: 3px;
    padding: 3px;
	cursor: pointer;
	bottom: 20px;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 6px;
	max-width: 135px;
	padding: 4px 7px;
	text-align: center;
	width: 70px;
}
.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #999999;
	border: 1px solid #cccccc;
	border-radius: 3px;
    padding: 3px;
    display: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 6px;
	max-width: 135px;
	padding: 4px 7px;
	text-align: center;
	width: 70px;
}

.back-to-top:hover{    
	background-color: #666666;
}
.about:hover {    
    background-color: #666666;
}
.close_footer{	
    cursor: pointer;    
    padding: 3px 10px 2px 8px;
    position: absolute;
    right: 0;
    top: 0;
}
.job{
	width: 100%;
	min-height: 130px;
	display: inline-block;
	margin: 10px;
	margin-top: 20px;
}
.job img{
	width: 80px;
	height:80px;
	float: left;
	padding-right: 10px;
}
.jobs_list{
	margin: 10px 0 10px 0;
	padding:10px 0;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
	
}
.company_name_location_jobTitle{
	float: left;
	width: 84%;
	margin-bottom: 15px;
}
.job_description{
	float: left;
	width: 84%;
	color: rgb(119, 119, 119);
	font-size: 12px;
	line-height: 1.4;
}
.job_title{
	font-size: 14px;
	line-height: 24px;
	width: 80%;
	cursor:pointer;
}
.job_title:hover{
	text-decoration: underline;
}
.company_name{
	color: rgb(119, 119, 119);
	font-size: 12px;
	line-height: 1.4;
}

.job li{ 
	margin: 15px;
}
ul.jobs{ 
	border-bottom: 1px solid #cccccc;
	padding: 20px;
}
.links { 
	float: right;
}
h3.search-heading{
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 100%) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8DAE4;
    box-shadow: 0 -1px 0 #FFFFFF inset, 0 1px 13px #EEEEF3;
    color: #858D91;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    margin: 7px 0;
    padding: 10px 15px;
	margin-top: 60px;
	border-radius: 4px 4px 0px 0px;
}



.search-text{
	min-height: 100px;
	margin-top:-7px;
	padding: 10px;
	border-left: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
}
.categories-heading{
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 100%) repeat scroll 0 0 #FFFFFF;
    color: #858D91;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    margin: 7px 0;
    padding: 10px 15px;
	border-radius: 4px 4px 0px 0px;
	margin-top:-7px;
	border-left: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
}
h4.job-title{
	background: none repeat scroll 0px 0px transparent;
	border: medium none;
	color: rgb(108, 115, 119);
	cursor: default;
	font-weight: 600;
	padding: 10px;
	border-right: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
	margin-top: -7px;
}
.job-titles{
	min-height: 100px;
	max-height: 500px;
	overflow-y: auto;
	border-right: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
}

.close_footer img{	
    padding: 3px 10px 2px 8px;
    position: absolute;
    right: -10px;
    top: -10px;
	width:20px;
	cursor: pointer;    
}
#loadJobs {
    color: rgb(102, 102, 102);
    display: inline-block;
    font-size: 11px;

    text-align: center;
    width: 100px;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(236, 236, 236);
    border-radius: 6px 6px 6px 6px;
    margin: 10px 0 30px 0;
	margin-left: 40%;
}
.posted-jobs{
	color: rgb(0, 136, 204);
	font-size: 16px;
	font-weight: bold;
	margin: 25px 0px 10px 10px;
	text-align: center;
	width: 100%;
}

#search-query{
	width: 55%;
	margin: 20px 0 0 20px ;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	height: 25px;
	padding: 4px 6px;
}
#search-query1{
	display:inline-block;
	width: 55%;
	margin: 20px 0 0 20px ;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	height: 25px;
	padding: 4px 6px;
}
a.posted-jobs{ 
	float: right;
	margin: 10px;
	width: 80%;
	border: none;
}
.post-a-job{
	margin: 10px;
}
.buttons{
	margin-top:-10px;
}
#basic{
	border-bottom: 2px solid #0088CC;
	color: #0088CC;
}
 
button{ 
	background: none repeat scroll 0px 0px rgb(0, 136, 204);
	border: medium none;
	color: rgb(255, 255, 255) !important;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	margin: 0px 5px 10px 10px;
	padding: 5px 15px;
	position: relative;
	text-decoration: none;
}

.input-title{
	width: 40%;
	font-weight: 700;
	font-size: 13px;
}
.values{
	width: 60%;
	float: right;
	height: 16px;
	padding: 4px;
	margin-right:10%;
}
.cleditorMain{
	width: 100%;
	padding: 4px;
	overflow:auto;
	margin-bottom: 25px;
	margin-top: 5px;
	
}
.text-key-value{
	height: 225px;
	margin:10px;
	
}
.key-value{
	margin:10px;
	display:inline-block;
	width:100%;
}
.advanced-form{
	margin: 20px;
	display: none;
}
.basic-form{
	margin: 20px;
}
.detailsType {
	border-bottom: 1px solid #aaaaaa;
	width: 95%;
	margin: 0px auto;
	padding: 20px 0;
	font-size: 16px;
}
.types{
	margin: 20px 20px 20px 0;
	padding-bottom:5px;
	font-size:14px;
	font-weight: bold;
}
#submit-adv-form{
	margin: 20px 0px;
	margin-right:160px;
}
.icon-magnifier1 {
	display:inline-block;
    background: url("../images/search.png") no-repeat scroll center center transparent;
	background-size: 100% 100%;
    height: 33px;
    position: absolute;
    width: 23px;
	margin-left: -24px;
	margin-top: 21px;
}
.new-job {
	text-decoration: none;
	color: rgb(0, 102, 153);
}
#tabs{
	padding: 5px 0;					
	width:326px;
	margin-left:7px;
	margin-top:35px;
	float:right;
	cursor:pointer;
}
#tabs li, #outertabs li{
	list-style: none;
	margin: 0;
	display: inline;
	border:none;
	color:rgb(131, 131, 131);
}
.selectedtab {
	color: black;
}
.allJobsContent{
	display:block;
}
 .postJobContent{
	display:none;
}

#allJobs{
	position: relative; 
	background: #ffffff; 
	border: 1px solid #cccccc;
} 
#allJobs:after, #allJobs:before { 
	bottom: 100%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 
#allJobs:after { 
	border-color: rgba(255, 255, 255, 0); 
	border-bottom-color: #ffffff; 
	border-width: 12px; 
	left: 85%; 
	margin-left: -12px; 
} 
#allJobs:before { 
	border-color: rgba(204, 204, 204, 0); 
	border-bottom-color: #cccccc; 
	border-width: 13px; 
	left: 85%; 
	margin-left: -13px; 
}
#newJob{
	position: relative; 
	background: #ffffff; 
	border: 1px solid #cccccc;
} 
#newJob:after, #newJob:before { 
	bottom: 100%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
} 
#newJob:after { 
	border-color: rgba(255, 255, 255, 0); 
	border-bottom-color: #ffffff; 
	border-width: 12px; 
	left: 95%; 
	margin-left: -12px; 
} 
#newJob:before { 
	border-color: rgba(204, 204, 204, 0); 
	border-bottom-color: #cccccc; 
	border-width: 13px; 
	left: 95%; 
	margin-left: -13px; 
}
#required-skills-form{
	min-height: 12px;
	width:98%;
	float: left;
	border: none;
}
ul.tags{
	margin: 0 0 0 0;
	list-style: none;
	width: 58.2%;
	z-index: 9005;
	position: absolute;
	background: white;
	max-height: 100px;
	overflow-y: auto;
	display: none;
	left: 248px;
	top:237px;
	min-height:0px;
}
li.skills{
	padding:5px;
	border: 1px solid #CCCCCC;
	z-index: 9005;
	cursor: pointer;
}
li.skills:hover{
	background: #3B5998;
	color: white;
}
.tagStyleWithCloseBtn {
    background-color: rgba(0, 0, 0, 0.07);
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color: #777777;
    cursor: pointer;
    float: left;
    line-height: 1;
    margin: 2px 12px 2px 0;
    padding: 5px 18px 5px 8px;
    position: relative;
    text-decoration: none;
	font-size: 11px;
}
a.closebutton {
	position: absolute; 
	right: 6px; 
	top: 8px; 
	display: block; 
	width: 7px; 
	height: 7px; 
	font-size: 1px; 
	background: url('close.gif'); 
}
a.closebutton:hover {
	background-position: 7px; 
}
#skills{
	height:auto;
	width:100%;
}
.skill-values{
	width: 57.5%;
	display:inline-block;
	min-height: 12px;
	height: auto;
	border: 1px solid #cccccc;
	padding: 2px 4px 2px 4px;
	left: 248px;
	position:absolute;
}
.error{
	font-size: 8px;
	font-weight: bold;
	line-height: 14px;
	width: 89%;
	color: rgb(228, 108, 110);
	display: block;
	visibility: hidden;
	text-align:right;
	z-index: 1000;
	
}
.text-key-value .error{
	margin-bottom: -20px;
}
#add_skill{
	float:right;
	padding: 5px;
}